{% extends 'base.html' %}

{% block content %}

    <!-- features -->
    <div class="container feature-box1" id="icon-grid">
        <h2
            style="background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);-webkit-text-fill-color: transparent;-webkit-background-clip: text;font-size: 2.5rem;">
            Unique Features</h2>
        <h2 class="pb-2 border-bottom text-white">Of Streamflix</h2>
        <div class="features1 py-3 text-white">
            <div class="feature-list1">
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0" style="background: linear-gradient(to right, #21e2f3, #ff6b08, #cf23cf, #09b5cc);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;">1.</h4>
                        <h4 class="fw-bold mb-0">User Friendly UI</h4>
                        <p>You will get smooth experience and user friendly UI.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0" style="background: linear-gradient(to right, #21e2f3, #ff6b08, #cf23cf, #09b5cc);
               -webkit-text-fill-color: transparent;
               -webkit-background-clip: text;">2.</h4>
                        <h4 class="fw-bold mb-0">Detailed content</h4>
                        <p>Forget about find content information you will get every thing in one place that is on
                            StreamFlix.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0" style="background: linear-gradient(to right, #21e2f3, #ff6b08, #cf23cf, #09b5cc);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;">3.</h4>
                        <h4 class="fw-bold mb-0">Downloading and streaming</h4>
                        <p>Enjoy your shows to watch offline..</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0" style="background: linear-gradient(to right, #21e2f3, #ff6b08, #cf23cf, #09b5cc);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;">4.</h4>
                        <h4 class="fw-bold mb-0">Enjoy your shows to watch offline.​</h4>
                        <p>Save your favourites contents easily and always have something to watch.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0" style="background: linear-gradient(to right, #21e2f3, #ff6b08, #cf23cf, #09b5cc);
              -webkit-text-fill-color: transparent;
              -webkit-background-clip: text;">5.</h4>
                        <h4 class="fw-bold mb-0">Optimize flow</h4>
                        <p>Easily change your lists and full control on your previous watch content also supported
                            background playing.</p>
                    </div>
                </div>
            </div>
            <div class="streamflix-phone" style="max-width: 75%;"><img  src="/static/img/Untitled Project (1).png" alt="" style="height: 100%;width: 100%;"></div>
        </div>
    </div>
 <!-- feature end -->





{% endblock %}